{% extends 'front.html.twig' %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-lg border-light">
                    <div class="card-header bg-primary text-white">
                        <h4 class="card-title mb-0">Update Response</h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="mb-3">
                            {{ form_label(form.reponse) }}
                            {{ form_widget(form.reponse) }}
                            {{ form_errors(form.reponse) }}
                        </div>

                        <div class="mb-3">
                            <div class="mb-3">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-lg '}}) }}
                            </div>
                            <!-- Render the submit button -->
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
