{% extends 'front.html.twig' %}

{% block title %}Prendre un Rendez-vous{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh; padding: 20px 0;">
        <div class="card shadow-lg p-4 rounded-4" style="max-width: 500px; width: 100%; background: #ffffff;">
            <h2 class="text-center text-primary mb-3">Prendre un Rendez-vous</h2>

            {{ form_start(form) }}

            <div class="mb-2">
                {{ form_label(form.date_rdv, 'Date du Rendez-vous', {'label_attr': {'class': 'form-label fw-bold'}}) }} <span class="text-danger">*</span>
                {{ form_widget(form.date_rdv, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-2">
               <div class="mb-1 mt-3">
                   {{ form_label(form.professional, 'Choisir un Professionnel', {'label_attr': {'class': 'form-label fw-bold'}}) }} <span class="text-danger">*</span>
               </div>
                {{ form_widget(form.professional, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2 mt-2">📅<span style="color: white">Make an appointment</span> </button>

            {{ form_end(form) }}

            <div class="text-center mt-2">
                <a href="{{ path('app_rendezvous_list') }}" class="btn btn-outline-secondary w-100 py-2">Check my appointments</a>
            </div>
        </div>
    </div>
{% endblock %}
