<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}MediPlus : Votre santé, simplifiée et connectée{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets-front/img/favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    {% block css %}
        <link rel="stylesheet" href="{{ asset('assets-front/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/icofont.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/slicknav.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/owl-carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('assets-front/css/notVisited.css') }}">
    {% endblock %}
</head>
<body>
<!-- Header -->
<header class="header">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <ul class="top-link">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Doctors</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <ul class="top-contact">
                        <li><i class="fa fa-phone"></i>+216 95774817</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:info@LifePulse.com">info@LifePulse.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="logo">
                            <a href="#"><img src="{{ asset('assets-front/img/logo.png') }}" alt="Logo"></a>
                        </div>
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    {% if app.user and app.user.getRoles() == ["ROLE_USER"] %}
                                        <li>
                                            <a href="#">Rendez vous <i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="{{ path('rendez_new') }}">Ajouter Rendez vous</a></li>
                                                <li><a href="{{ path('rendez_index') }}">Mes Rendez vous</a></li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li><a href="#">Doctors</a></li>
                                    {% endif %}


                                    {% if app.user and app.user.getRoles() == ["ROLE_PROFESSIONNEL"] %}
                                        <li>
                                            <a href="#">Consultations <i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="{{ path('app_professional_consultations') }}">Mes consultations</a></li>
                                                <li><a href="{{ path('presecriptions_list') }}">Préscriptions</a></li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li><a href="#">Contact us</a></li>
                                    {% endif %}

                                    <li>
                                        <a href="#">Avis <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="{{ path('app_avis_new') }}">Nouveau avis</a></li>
                                            <li><a href="{{ path('app_avis_list') }}">Liste des avis</a></li>
                                            {% if app.user and app.user.getRoles() == ["ROLE_PROFESSIONNEL"] %}
                                                <li><a href="{{ path('professional_stats') }}">Insights</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Blogs <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="#">Blog Details</a></li>
                                        </ul>
                                    </li>
                                                                       <li><a href="{{ path('rendez_new') }}">Ajouter Rendez vous</a></li>
                                    <li><a href="{{ path('rendez_index') }}">Mes Rendez vous</a></li>
                                    <li>
                                    
                                        <a href="{{ path('rendez_calendar') }}">
                                            Mon Calendrier
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
{% block body %}{% endblock %}

<!-- Footer Area -->
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>About Us</h2>
                        <p>MediPlus connecte patients et professionnels de santé grâce à une plateforme simple, sécurisée et innovante.</p>
                        <ul class="social">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Open Hours</h2>
                        <ul class="time-sidual">
                            <li class="day">Monday - Friday <span>8.00-20.00</span></li>
                            <li class="day">Saturday <span>9.00-18.30</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Newsletter</h2>
                        <form action="#" method="post" class="newsletter-inner">
                            <input name="email" placeholder="Email Address" class="common-input" required type="email">
                            <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block js %}
    <script src="{{ asset('assets-front/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets-front/js/jquery-migrate-3.0.0.js') }}"></script>
    <script src="{{ asset('assets-front/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets-front/js/easing.js') }}"></script>
    <script src="{{ asset('assets-front/js/colors.js') }}"></script>
    <script src="{{ asset('assets-front/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets-front/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets-front/js/jquery.nav.js') }}"></script>
    <script src="{{ asset('assets-front/js/slicknav.min.js') }}"></script>
    <script src="{{ asset('assets-front/js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset('assets-front/js/niceselect.js') }}"></script>
    <script src="{{ asset('assets-front/js/tilt.jquery.min.js') }}"></script>
    <script src="{{ asset('assets-front/js/owl-carousel.js') }}"></script>
    <script src="{{ asset('assets-front/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('assets-front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets-front/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
