
{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}

    {# Display login error if there is one #}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    {% if app.user %}
        <script>
            console.log("Logged in user:", {
                id: "{{ app.user.id }}",
                email: "{{ app.user.email }}",
                name: "{{ app.user.nameUser }}",
                roles: {{ app.user.roles|json_encode|raw }}
            });
        </script>
    {% endif %}

{% endblock %}
